{{#partial "title" }}
{{/partial}}


{{#partial "content"}}

<h1>Chnage breakdown</h1>
<p>Dear {{ recipient }},</p>
<p>You input of {{ input }} breaksdown to change of: {{ output }}.
{{/partial}}

{{> layout.hbs}}